<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apprentice.asia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <nav>
     
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                <div class="container">
        <a class="navbar-brand" href="#">Apprentice.asia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/result">job Listing</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <li class="nav-item">
                     <a class="nav-link" href="/form">Register</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                 </li>

            </ul>
          </ul>
        </div>
      </nav>
      <body>
      {% block content %}{% endblock %}
    </body>


 
<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Contact Us: abc@xyz.com.sg </a>
  
  
      
      </div>
      </div></nav>
    </div>
  </nav>


  </div>
</html>
