<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
 
    <div class="container">

<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AYEAYEAYE</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles?</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/forms">Register</a></li>
              <li><a href="/login">Login</a></li>
            

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    </div>

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>

<form action = "/handle_data" method = "POST">
  
 <center>
  Name:<br>
  <input type="text" placeholder="Name" name = 'name' value="b" required><br>
  Country:<br>
  <select id="countries" name="countries" required>
      <option value="Brunei">Brunei</option>
      <option value="Cambodia">Cambodia</option>
      <option value="Indonesia">Indonesia</option>
      <option value="Laos">Laos</option>
      <option value="Malaysia">Malaysia</option>
      <option value="Myanmar">Maynmar</option>
      <option value="Philippines">Philippines</option>
      <option value="Singapore">Singapore</option>
      <option value="Thailand">Thailand</option>
      <option value="Vietnam">Vietnam</option>
      </select>
  <br>
      
  
  Contact Number:<br>
  <input type="text" placeholder="contact number" name="contactnumber" value="c" required><br>
  Email:<br>
  <input name="email1" type="email" required="1" id="email1" size="44" name = "email" value="d@d.com" required/><br>
  
  <label for = "emailConfirm"> Confirm email: </label>
  <br>        
  <input name='email2', type = 'email'>
  <button type='Check'equalTo=email1 id='validate'>Validate!</button>


  <br>
  Password:<br>
  <input name="password1" type="text" required="1" id="password1" size="44" name = "password" value="e" required/><br>
  
  <label for = "passwordConfirm"> Confirm password: </label>
  <br>        
  <input name='password2', type = 'text'>
  <button type='Check'equalTo=password1 id='validate'>Validate!</button>

  <br>
  Highest Education Level:
  <br>

  <input type="radio" name='group1' value="PSLE" checked required>PSLE <br>
  <input type="radio" name='group1' value="GCE 'O' level" required>GCE 'O' level <br>
  <input type="radio" name='group1' value="GCE 'A' level" required>GCE 'A' level <br>
  <input type="radio" name='group1' value="Diploma" required>Diploma <br>
  <input type="radio" name='group1' value="IB" required>IB <br>
  <input type="radio" name='group1' value="Bsc Degree" required>Bsc Degree <br>
  <input type="radio" name='group1' value="Masters" required>Masters <br>
  <input type="radio" name='group1' value="Others" required>
  Others:<br>
  <input type="text" name='group1' placeholder="Please Specify"><br>

  <br>
  Commitment:<br>
  <input type="number" name="commitment"value=3 >
  <br>

  <br>
  Industry:
  <br>

  <input type="radio" name='industry' value="supplychainmanagement" checked required>Supply Chain Management <br>
  <input type="radio" name='industry' value="food&beverage" checked required>Food & Beverage <br>
  <input type="radio" name='industry' value="retail" checked required>Retail <br>
  <input type="radio" name='industry' value="government" checked required> Government <br>
  <input type="radio" name='industry' value="construction" checked required>Construction <br>
  <input type="radio" name='industry' value="education" checked required>Education <br>
  <input type="radio" name='industry' value="business" checked required>Business <br>
  <input type="radio" name='industry' value="design&media" checked required>Design & Media <br>
 <br>

  <br>
  <input type="checkbox" checked required>I agree to the terms and conditions* 
  <p style="color:red">*This is a required field</p>
  <br>
 <button type="submit" value="Go"> Go</button>
  
    

  </form>
</center> 
  <html>
<head>
