{% extends 'base.html' %}
  
{% block content %}

<div class="container" >
<form action = "/handle_data" method = "POST"> 
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" placeholder="Enter full name" id="name" name='name' class="form-control" required><br>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <select multiple class="form-control" id="countries" name="countries" required>
          <option value="Brunei">Brunei</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Laos">Laos</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Myanmar">Maynmar</option>
          <option value="Philippines">Philippines</option>
          <option value="Singapore">Singapore</option>
          <option value="Thailand">Thailand</option>
          <option value="Vietnam">Vietnam</option>
      </select>
    </div>

    <div class="form-group">
      <label for="contactnumber">Contact Number:</label>
      <input type="text" placeholder="Enter contact number" id="contactnumber" name='contactnumber' class="form-control" required><br>
    </div>

    <div class="form-group">
      <label for="email1">Email:</label>
      <input type="text" placeholder="Enter email" id="email1" name='email1' class="form-control" required><br>
    </div>

    <div class="form-group">
      <label for="password1">Password:</label>
      <input type="text" placeholder="Enter password" id="password1" name='password1' class="form-control" required><br>
    </div>

    <div class="form-group">
        <label for="education">Highest Education Level</label>
        <select multiple class="form-control" id="countries" name="countries" required>
            <option value="PSLE">PSLE</option>
            <option value="GCE 'O' level">GCE 'O' level</option>
            <option value="GCE 'A' level">GCE 'A' level</option>
            <option value="Diploma">Diploma</option>
            <option value="IB">IB</option>
            <option value="Bsc Degree">Bsc Degree</option>
            <option value="Masters">Masters</option>
            <option value="Others">Others</option>
        </select>
      </div>

      <div class="form-group">
          <label for="commitment">Commitment:</label>
          <input type="number" placeholder="How many months are you available for?" id="commitment" name='commitment' class="form-control" required><br>
        </div>

        <div class="form-group">
            <label for="industry">Industry</label>
            <select multiple class="form-control" id="industry" name="industry" required>
                <option value="Supply Chain Management">Supply Chain Management</option>
                <option value="Food & Beverage">Food & Beverage</option>
                <option value="Retail">Retail</option>
                <option value="Government">Government</option>
                <option value="Construction">Construction</option>
                <option value="Education">Education</option>
                <option value="business">Business</option>
                <option value="Design & Media">Design & Media</option>
            </select>
          </div>

  <br>
  <input type="checkbox" checked required>I agree to the terms and conditions* 
  <p style="color:red">*This is a required field</p>
  <br>
 <button type="submit" value="Go"> Sign Up</button>
  </form>
</div>


{% endblock %}
