{% extends 'base.html' %}
  
{% block content %}
<head><center><h1>Hello There!</h1>
  <br>
  <h4>Welcome to Apprentice</h4>
</head>
<p>If you are looking for apprenticeship but don't know where to find it, you are looking at the right place!
   <br> We provide a one-stop career platform that makes apprenticeships more attractive and accessible in the ASEAN region.
<br><br>
   <img src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/87/31/71/asean-member-countries.jpg">


  </p></center>
  
{% endblock %}